
# Install python
sudo apt install python3
sudo apt install python3-pip

# Install and start virtual enviroment
sudo apt install python3-venv
python3 -m venv --upgrade-deps .venv
source .venv/bin/activate

# Install old versions of all the libraries needed 
pip install opencv-python==4.10.0.84
pip install mediapipe==0.10.21 